@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Exo+2|Noto+Sans+KR');

/* reset */
* {margin: 0; padding: 0;}
body {font-size: 14px; font-family:'Noto Sans KR' , sans-serif;}
ul, li {margin: 0; padding: 0; list-style: none;}
h1, h2, h3, h4, h5, h6, p {margin: 0; padding: 0;}
a {text-decoration: none; color: inherit;}
a img {border: none;}
/* 본문바로가기 가리기 */
#skip-nav {position: fixed; left: 0; top: -50px;}
/* =============================================================
    header
============================================================= */
#wrap header{width: 100%; height: 100px; line-height: 100px; position: fixed; left: 0; top: 0; z-index: 999; background: rgba(0,0,0,0.2);}
#wrap header .innerHeader {width: 1400px; height: 100%; margin: 0 auto;}
/* logo */
#wrap header .innerHeader h1.logo {float: left;}
#wrap header .innerHeader h1.logo img {margin-top: 25px;}
/* gnb - 중앙메뉴 */
#wrap header .innerHeader .gnb {float: left; margin-left: 100px;}
#wrap header .innerHeader .gnb  ul li {float: left; margin-right: 80px;}
#wrap header .innerHeader .gnb  ul li a {display: block; font-size: 16px; color: #fff; text-align: center;}
#wrap header .innerHeader .gnb  ul li a:hover,
#wrap header .innerHeader .gnb  ul li a:focus {color: #ff8342;}
/* tnb - 오른쪽 메뉴 */
#wrap header .innerHeader .tnb {float: right; margin-right: -24px;}
#wrap header .innerHeader .tnb ul li {float: left; margin-right: 25px;}
#wrap header .innerHeader .tnb ul li a {display: block; font-size: 16px; color: #fff; text-align: center;}
#wrap header .innerHeader .tnb ul li a:hover,
#wrap header .innerHeader .tnb ul li a:focus {color: #ff8342;}
/* 아이콘 */
#wrap header .innerHeader .tnb ul li:nth-child(1) a i,
#wrap header .innerHeader .tnb ul li:nth-child(2) a i {font-size: 20px; margin-right: 5px;}
#wrap header .innerHeader .tnb ul li:last-child a {display: block; width: 130px; border-radius: 30px; margin-top: 35px; border: 1px solid #fff; width: 130px; height: 32px; line-height: 32px;}
#wrap header .innerHeader .tnb ul li:last-child a i {margin-left: 5px;}
#wrap header .innerHeader .tnb ul li:last-child a:hover,
#wrap header .innerHeader .tnb ul li:last-child a:focus {background: #fff; color: #ff8342; transition: 0.3s;}
/* =============================================================
    1. main
============================================================= */
#wrap section.main {width: 100%; height: 1000px; background: url("../images/vis_1.jpg")no-repeat center/cover; background-attachment: fixed; /* 스크롤을 올려도 배경 고정 */ position: relative; min-width: 1400px;}
/* text */
#wrap section.main .mainTitle {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #fff; text-align: center; letter-spacing: -1px; /* 자간조절 */ text-shadow: 0 0 5px rgba(0,0,0,0.5);}
#wrap section.main .mainTitle h2 {font-size: 47px; margin-bottom: 20px; font-weight: normal;}
#wrap section.main .mainTitle p {font-size: 25px; margin-top: 50px; margin-bottom: 30px;}
/* btn */
#wrap section.main .mainTitle a.view {display: block; width: 180px; padding: 8px 0; font-size: 16px; margin: 0 auto; border: 2px solid #fff; position: relative; overflow: hidden; border-radius: 40px;}
#wrap section.main .mainTitle a.view::after {content: ""; width: 0%; height: 100%; position: absolute; top: 0; left: 0; background: rgba(255,255,255,0.4); transition: 0.3s;}
#wrap section.main .mainTitle a.view:hover::after {width: 100%;}
#wrap section.main .mainTitle a.view:focus {background: rgba(255,255,255,0.7);}
#wrap section.main .mainTitle a.view i {margin-left: 5px;}
/* =============================================================
    section - title (all)
============================================================= */
.title {font-family: 'Exo 2', sans-serif; color: #000; text-align: center;}
.title h2 {font-size: 45px; margin-bottom: 10px; font-weight: normal;}
.title h2 span {color: #ff8342;}
.title p {font-size: 18px;}
/* =============================================================
    2. about
============================================================= */
/* img */
#wrap section.about {width: 100%; background: #fff; padding: 80px 0; min-width: 1400px;}
#wrap section.about ul {width: 1400px; margin: 50px auto; overflow: hidden;}
#wrap section.about ul li {float: left; width: 33.3333%;}
#wrap section.about ul li a {display: block;}
#wrap section.about ul li a p.img {width: 100%; height: 369px; overflow: hidden;}
#wrap section.about ul li a p.img img {width: 100%; height: auto; transition: 0.8s;}
#wrap section.about ul li a:hover p.img img,
#wrap section.about ul li a:focus p.img img {transform: scale(1.2);} /* 확대 */
/* text */
#wrap section.about ul li a .text {padding: 30px; box-sizing: border-box;}
#wrap section.about ul li a .text h3 {font-size: 20px; margin-bottom: 10px;}
#wrap section.about ul li a .text p {font-size: 16px; margin-bottom: 10px;}
/* btn - more */
#wrap section.about ul li a .text p.more {font-weight: bold; padding-left: 40px; position: relative;}
#wrap section.about ul li a .text p.more:hover {color: #999;}
/* btn - more - 아이콘 */
#wrap section.about ul li a .text p.more:before {width: 30px; height: 30px; line-height: 30px; content: '\f178'; background: #ff8342; font-family: FontAwesome; border-radius: 50%; position: absolute; left: 0; padding-left: 0.4px;}
/* =============================================================
    3. innovation
============================================================= */
#wrap section.innovation {width: 100%; margin-bottom: 150px; min-width: 1400px;}
#wrap section.innovation .imgBox {width: 1400px; height: 540px; background: url("../images/product_1.jpg")no-repeat center/cover; position: relative; margin: 50px auto;}
#wrap section.innovation .imgBox .inner {position: absolute; left: 50%; bottom: -50px; transform: translateX(-50%); background: #3a3c4e; width: 80%;}
#wrap section.innovation .imgBox .inner h3 {background: #fff; padding: 25px 45px; box-sizing: border-box; font-size: 18px;}
#wrap section.innovation .imgBox .inner h3 span {color: #ff8342;}
#wrap section.innovation .imgBox .inner .bottom {padding: 35px 85px; box-sizing: border-box; color: #fff; line-height: 1.6; overflow: hidden;}
#wrap section.innovation .imgBox .inner .bottom p {float: left;}
/* btn */
#wrap section.innovation .imgBox .inner .bottom a {float: right; display: block; padding: 7px 30px; background: #ff8342; border-radius: 50px;}
#wrap section.innovation .imgBox .inner .bottom a:hover,
#wrap section.innovation .imgBox .inner .bottom a:focus {background: #f86010; transition: 0.5s;}
/* =============================================================
    4. me
============================================================= */
#wrap section.me {width: 100%; background: url("../images/me.jpg")no-repeat center/cover; position: relative; padding: 80px 0; margin-bottom: 150px; min-width: 1400px;}
#wrap section.me .list {width: 1400px; margin: 50px auto; border-top: 2px solid #000;}
#wrap section.me .list>ul {padding-left: 30px;}
#wrap section.me .list>ul>li {padding: 30px 30px 30px 10px; box-sizing: border-box;}
#wrap section.me .list>ul>li:nth-child(1) {border-bottom: 1px solid #ddd;}
#wrap section.me .list>ul>li h3 {position: relative; font-size: 18px; margin-bottom: 20px;}
/* 큰아이콘 */
#wrap section.me .list>ul>li h3 span {color: #ff8342; position: absolute; left: -25px;}
#wrap section.me .list>ul>li>p {line-height: 1.6; margin-bottom: 20px;}
#wrap section.me .list>ul>li>a {display: block; font-weight: bold; position: relative; font-size: 16px;}
/* 화살표 아이콘 */
#wrap section.me .list>ul>li>a span {position: absolute; top: 3px; margin-left: 5px; font-size: 14px; color: #ff8342;}
#wrap section.me .list ul.in {margin-bottom: 30px;}
#wrap section.me .list ul.in li {margin-bottom: 10px; overflow: hidden;}
#wrap section.me .list ul.in li em {width: 12%; float: left; font-weight: bold;}
#wrap section.me .list ul.in li p {width: 88%; float: left; position: relative;}
/* more arrow hover */
#wrap section.me .list .more i:hover {color: #666;}
/* 중간점 */
#wrap section.me .list ul.in li p::before {content: ''; position: absolute; top: 10px; left: -40px; width: 4px; height: 4px; background: #ff8342;}
/* 한화인 채용사이트 btn */
#wrap section.me .button {position: absolute; left: 50%; top: 750px; transform: translate(-50%,-50%);}
#wrap section.me .button a {display: block; background: #ff8432; padding: 7px 30px; border-radius: 50px; text-align: center; color: #fff;}
#wrap section.me .button a:hover,
#wrap section.me .button a:focus {background: #f86010; transition: 0.5s;}
/* =============================================================
    5. sns
============================================================= */
#wrap section.sns {width: 100%; margin-bottom: 60px; min-width: 1400px; height: 650px;}
#wrap section.sns ul {width: 1400px; margin: 50px auto;}
/* img */
#wrap section.sns ul li {float: left; width: 32.3333%; margin-right: 1.444%;}
#wrap section.sns ul li:last-child {margin: 0;}
#wrap section.sns ul li a {display: block; width: 100%; height: 100px;}
#wrap section.sns ul li a p.img {width: 100%; height: 251px; overflow: hidden; position: relative;}
#wrap section.sns ul li a p.img:before {content: ''; width: 0; height: 100%; background: rgba(255,131,66,0.8); position: absolute; top: 0; left: 0; transition: 0.5s;}
#wrap section.sns ul li a p.img img {width: 100%;}
#wrap section.sns ul li a:hover p.img::before,
#wrap section.sns ul li a:focus p.img::before {width: 100%;}
/* blog 글씨 버튼 */
#wrap section.sns ul li a p.img::after {content: 'BLOG'; opacity: 0; font-family: 'Exo 2', sans-serif; font-size: 15px; color: #fff; padding: 5px 30px; border: 1px solid #fff; border-radius: 40px; transition: 0.5s; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
#wrap section.sns ul li a:hover p.img::after {opacity: 1;}
/* text */
#wrap section.sns ul li a .snsBottom {width: 100%; padding: 50px 0 20px 30px; box-sizing: border-box;}
#wrap section.sns ul li a .snsBottom p.color {color: #ff8342; font-weight: normal;}
#wrap section.sns ul li a .snsBottom p {font-weight: bold; font-size: 18px;}
#wrap section.sns ul li a .snsBottom p.time {font-weight: normal; font-size: 15px; margin-top: 30px; padding-left: 20px; position: relative; color: #999;}
/* 시계 아이콘 */
#wrap section.sns ul li a .snsBottom p.time::before {content: '\f017'; font-family: FontAwesome; font-size: 15px; position: absolute; left: 0; top: -3px; line-height: 30px;}
/* =============================================================
    footer
============================================================= */
#wrap footer {clear: both; width: 100%; border-top: 1px solid #999; padding: 30px 0 50px 50px; box-sizing: border-box; position: relative; min-width: 1400px;}
#wrap footer .footerInner {width: 1400px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); margin: 0 auto; margin-bottom: 50px;}
#wrap footer .footerInner .blogo {float: left; margin-top: 10px;}
#wrap footer .footerInner .copyright {float: left; margin: 10px 0 0 100px;}
#wrap footer .footerInner .copyright p {color: #666;}
#wrap footer .footerInner .copyright p a {color: #ff8342;}
#wrap footer .footerInner .copyright p a:hover {color: #999;}
#wrap footer .footerInner .blist {float: right; margin-top: 10px;}
#wrap footer .footerInner .blist ul li {float: left; margin-left: 30px;}
#wrap footer .footerInner .blist ul li a {color: #333; display: block; font-weight: bold;}
#wrap footer .footerInner .blist ul li a:hover {color: #999;}
/* 개인정보처리방침 */
#wrap footer .footerInner .blist ul li:last-child a {color: #ff8342;}
#wrap footer .footerInner .blist ul li:last-child a:hover {color: #999;}
